@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

@*<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">

            </div>
        </div>
    </div>
</section>*@


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @Html.ActionLink("Categorie", "Categorie")<br />

            @Html.ActionLink("Articoli", "Articoli")<br />
        </div>
    </div>
</div>